#hoverpage {font-family: "Lucida Grande", arial, verdana, sans-serif; font-size:76%;
	-moz-border-radius-bottomleft: 16px;
	-moz-border-radius-bottomright: 16px;
	-webkit-border-bottom-right-radius: 16px;
	-webkit-border-bottom-left-radius: 16px;
}

#hoverpage ul#menu li div p {font-size: 11px; line-height:16px; margin:5px 0 15px 0;}
#hoverpage ul#menu li div h2 {line-height:1em; color:#000; font-size:1.5em; font-weight:normal; margin-top:0;}
#hoverpage ul#menu li div h3 {line-height:1em; color:#666; font-size:1.2em; font-weight:normal; margin-top:0;}
#hoverpage ul#menu li div h3.clear {clear:left;}

#hoverpage {width:100%; height:240px; border:1px solid #E5E4DB;  background-color: #F9F8F4; border-top: 1px #ffffff solid; border-left: 1px #ffffff solid; position:relative; z-index:200; overflow:hidden; text-align:left;}

#hoverpage ul#menu {background:transparent; padding:0; margin:0;list-style:none;}

#hoverpage ul#menu li.page {display:inline;} /* needed for IE to function correctly */

#hoverpage ul#menu li.page a.menuitem {text-decoration:none;}

#hoverpage ul#menu li.page i {position:absolute; font-size:1.5em; display:block; height:25px; line-height:25px; padding-right:10px; left:50px; background-color: #F6F5F0; border-top: 1px #ffffff solid; border-left: 1px #ffffff solid; cursor:default; z-index:500; text-align:right; text-decoration:none; color:#666; font-style:normal; cursor:pointer; width:120px; border:1px solid #E5E4DB;}

#hoverpage ul#menu li.p1 i {top:30px;}
#hoverpage ul#menu li.p2 i {top:55px;}
#hoverpage ul#menu li.p3 i {top:80px;}
#hoverpage ul#menu li.p4 i {top:105px;}
#hoverpage ul#menu li.p5 i {top:130px;}

#hoverpage ul#menu li.page div {display:block; width:814px; height:250px; margin:25px; font-weight:normal; color:#444;  background-color: #F9F8F4; border-top: 1px #ffffff solid; border-left: 1px #ffffff solid; }

#hoverpage ul#menu li div img {border:0px solid #E5E4DB; float:right; margin:0 60px 5px 0;}
#hoverpage ul#menu li div p.big {line-height:1em; color:#687532; font-size:1.3em;  text-decoration:none; }
#hoverpage ul#menu li div a, #hoverpage ul#menu li div a:visited {color:#FF6000; text-decoration:none;}
#hoverpage ul#menu li div em {display:block; width:200px; height:230px; float:left;}

#hoverpage ul#menu li.page div a:hover {  color: #ABC43B; text-decoration:none;}
#hoverpage ul#menu li.page a.menuitem:hover { color: #ABC43B; white-space:bold;} /* for IE6 */

#hoverpage ul#menu li.click div {position:absolute; left:0; top:0;}
#hoverpage ul#menu li.click a i,
#hoverpage ul#menu li.click a:visited i
{color:#FF6000; font-weight:bold;}

#hoverpage ul#menu div ul li {line-height:20px; color:#256; list-style-type:disc;}
#hoverpage ul#menu div ul li a,
#hoverpage ul#menu div ul li a:visited
{line-height:20px; color:#c00;}

#hoverpage ul#menu div dl dd {line-height:20px; font-size:1.1em; color:#448;}
#hoverpage ul#menu div dl dt {line-height:30px; color:#333;}
