div#nav
{
	border: 1px solid #d4d4d4;
	display: block;
	background: #cbcbcb url("../images/menu-bg.png") 0 0 repeat-x scroll;
	margin: 0 -10px 10px -10px;
	line-height: 16px;
	clear: both;
}

#nav .moduletable_menu
{
	
	border: 1px solid #fff;
}

#nav, #nav .moduletable_menu, 
#nav ul>li, 
#nav ul>li a
{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#nav ul 
{
	padding: 0;
	margin: 0 0 0 10px;
	list-style: none;
	width: 100%;
	overflow: hidden;
}

#nav a
{
	display: block;
	color: #000;
	text-transform: uppercase;
	padding: 5px 12px;
	width: auto;
	font: bold 11px Arial,Helvetica,sans-serif;
}

#nav a:first-letter
{
	font-size: 1.1em;
}

#nav a:hover:first-letter
{
	color: #000;
}

#nav a:hover, #nav a.mainlevel_current-top
{
	text-decoration:none;
}

#nav li
{
	float:left;
	padding:0;
	margin: 6px 8px 6px 0;
	background: none;
	border: 1px solid #ddd;
}

#nav li:hover
{
	border-color: #e4e4e4;
}

#nav li a
{
	display: block;
	background: #e4e4e4 url("../images/menu-item-bg.png") 0 0 repeat-x scroll;
	color: #888;
	font: 777 11px Helvetica,sans-serif;
	text-decoration: none;
}

#nav li a:hover
{
	background: #fefefe;
	color: #111;
}

#nav li.active a span
{
	color: #000;
}

/* logowanie */
#login
{
	font-size: 1.1em;
	font-family: tahoma, sans-serif;
}

#login #login-activator,
#login #login-activator a,
#login-options li,
#login-options li a
{
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

#login ul li
{
	list-style: none;
	background: none;
	font-size: 0.8em;
	padding:0;
	border: 1px solid #D4D4D4;
}

#login ul#login-options
{
	margin: -1px 0 0 0;
	float: right;
}

#login ul#login-options li
{
	float: left;
	margin-right: 2px;
}

#login-activator
{
	display: none;
	margin: -10px 10px 0 0;
	float: right;
	border: 1px solid #D4D4D4;
	font: bold 12.1px Tahoma, sans-serif;
}

#login a.option
{
	float:left;
	padding: 4px 12px; 
	background: #cbcbcb url("../images/menu-bg.png") 0 0 repeat-x scroll;
	border: 1px solid #fff;
	color: #777;
	font-weight: bold;
}

#login a.option:hover
{
	color: #333;
	text-decoration: none;
}

#login ul#login-options a.option
{
	padding: 2px 6px;
}

#login-form form
{
	background: #cbcbcb url("../images/menu-bg.png") 0 0 repeat-x scroll;
	margin: -10px 2px 0 0;
	padding: 5px 10px;
	border: 1px solid #D4D4D4;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-left-radius: 3px;
}

#login-form #modlgn_remember
{
	vertical-align: middle;
}

#modlgn_username, #modlgn_passwd {
	width: 80px;
	font: normal 10px verdana, sans-serif; 
}

#login #user-greeting
{
	text-align: center;
	padding: 0;
	margin: 0;
	width: 250px;
}

/* wyszukiwarka */
#user1
{
	float: right;
	margin: -22px 30px -24px 0;
	padding: 0 0 0 20px;
	background: url(../images/search-bg.png) left bottom no-repeat;
	
}

#user1 .moduletable
{
	padding: 10px 20px 5px 0;
	background: url(../images/search-bg.png) right bottom no-repeat;
	height: 31px;
}

#user1 form input[type='text']
{
	width: 140px;
	font: normal 10px tahoma, sans-serif; 
	border: 1px solid #d4d4d4;
	color: #d4d4d4;
	height: 16px;
	background: #fff;
	vertical-align: bottom;
	padding:0;
}

#user1 form input[type='image']
{
	border: none;
	padding:0;
	margin: 0;
	vertical-align: bottom;
}

#user1 form input:focus
{
	color: #999;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/* stopka */
#footerwrap
{
	padding: 5px 0;
	margin-top: 10px;
	border-top: 3px solid #d4d4d4;
	color:#808080;
	background: url(../images/footer-bg.png) 0 0 repeat-x;
	overflow: hidden;
	text-align: left;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
	line-height: 16px;
}

#footerwrap a
{
	color:#808080;
	font-weight:normal;
}

#footer
{
	width: 1000px;
	margin: 0 auto;
	float: none;
	background: transparent url(../images/footer-logo-bg.png) 50% 50% no-repeat;
	overflow: hidden;
}

#footer .moduletable ul
{
	float: left;
	text-align: left;
	margin: 0 60px;
}

#footer .moduletable li
{
	list-style: circle;
	background: none;
}

#footer .moduletable li.head
{
	font-weight: bold;
	margin-left: -20px;
	font-size: 13px;
	list-style: none;
	color: #555;
}

#footer .moduletable li.head a
{
	font-weight: bold;
}

#footer .moduletable ul:hover li.head,
#footer .moduletable ul:hover li.head a
{
	color: #000;
}

#footer .moduletable ul#about_us_yc
{
	float: right;
	margin-right: 40px;
}

#footer .moduletable ul#about_us_yc ul
{
	margin: 0;
	border: 1px solid rgb(230, 230, 230);
	padding-right: 10px;

}

#footer .moduletable ul#about_us_yc:hover ul
{
	border: 1px solid rgb(200, 200, 200);
	background: rgb(245, 245, 245);
}

#footer .moduletable ul#about_us_yc li
{
	list-style: none;
}

#footer .moduletable ul#about_us_yc ul li
{
	float: left;
}

#footer .moduletable ul#about_us_yc ul li:before
{
	content: '» ';
}

#footer li a:hover
{
	color: #222;
}
