image="plugins/content/showhidecontent/images/arrow-1-16x16-green-down.png" 
changeimage="plugins/content/showhidecontent/images/arrow-1-16x16-green-up.png" 
cssfile="plugins/content/showhidecontent/css/16x16.css"
classsuffix="x16-"
