image="plugins/content/showhidecontent/images/expand_vertical_green.png" 
changeimage="plugins/content/showhidecontent/images/collapse_vertical_green.png" 
cssfile="plugins/content/showhidecontent/css/32x16.css"
classsuffix="x32x16-"
