	<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->
</div>

<!--
	We request you retain the full copyright notice below including the link to www.phpbb.com.
	This not only gives respect to the large amount of time given freely by the developers
	but also helps build interest, traffic and use of phpBB3. If you (honestly) cannot retain
	the full copyright we ask you at least leave in place the "Powered by phpBB" line, with
	"phpBB" linked to www.phpbb.com. If you refuse to include even this then support on our
	forums may be affected.

	The phpBB Group : 2006
//-->

<div id="wrapfooter">
<!-- IF U_ACP --><span class="gensmall">[ <a href="{U_ACP}">{L_ACP}</a> ]</span><br /><br /><!-- ENDIF -->
<div class="copyright2">
<!-- WARNING Licenses Creative Commons DON'T DELETE -->Style by <a href="http://www.gokinstudio.com" title="phpBB3 styles">Webdesign</a> styles, ziola alveo <a href="http://www.dobre-ziola.pl/ziola.html">ziola</a> akuna</a> przyczyny <!-- WARNING Licenses Creative Commons DON'T DELETE --><br />
Powered by <a href="http://www.phpbb.com/">phpBB</a> &copy; 2000, 2002, 2005, 2007 phpBB Group
<!-- IF TRANSLATION_INFO --><br />{TRANSLATION_INFO}<!-- ENDIF -->
<!-- IF DEBUG_OUTPUT --><br /><bdo dir="ltr">[ {DEBUG_OUTPUT} ]</bdo><!-- ENDIF -->
</div>
</div>

	</div>
	</div>

	</div>
	</div>
	</div>


</div>

<div id="footerwrap">
<div id="footer">
<div class="moduletable">
<ul id="find_yc">
	<li class="head">
		Znajdź nas</li>
	<li>
		<a href="http://twitter.com/youthcoders" title="Śledź nas na twitterze"> twitter.com </a></li>
	<li>
		<a href="http://www.facebook.com/youthcoders.net" title="Znajdź nas na facebook"> facebook.com </a></li>
	<li>
		<a href="http://www.youtube.com/user/youthcododers" title="Oglądaj nas na youtube"> youtube.com </a></li>
	<li>
		<a href="http://nasza-klasa.pl/profile/31767189" title="Znajdź na na naszej klasie"> nasza-klasa.pl </a></li>
	<li>
		<a href="mailto:YouthCoders.net@gmail.com" title="Napisz do nas"> gmail.com </a></li>
</ul><!-- #find_yc -->

<ul id="partners_yc">
	<li class="head">
		Partnerzy</li>
	<li>
		<a href="http://youthcoders.net/blog/1-wpisy/572-wspolpraca-z-helion-pl.html" title="Partner youthcoders"> Helion </a></li>
	<li>
		<a href="http://youthcoders.net/blog/1-wpisy/793-partner-uniwersytet-jyvaskyla-finlandia.html" title="Partner youthcoders"> University of Jyv&auml;skyl&auml; </a></li>

	<li>
		<a href="http://youthcoders.net/blog/1-wpisy/795-inicjatywa-creuro.html" title="Partner youthcoders"> Inicjatywa CrEuro </a></li>
	<li>
		<a href="http://youthcoders.net/blog/1-wpisy/722-transmisja-na-zywo.html" title="Partner youthcoders"> eyia.eu </a></li>
	<li>
		<a href="http://yarpo.pl" title="Blog Patryka yarpo Jar"> yarpo.pl </a></li>
	<li>
		<a href="http://eduwww.net">eduwww.net</a></li>

	<li>
		<a href="http://youthcoders.net/blog/1-wpisy/825-gablotka-szkolna-informacje-edukacyjne-w-jednym-miejscu.html" title="Gablotka szkolna"> Gablotka Szkolna </a></li>
	<li>
		<a href="http://youthcoders.net/blog/1-wpisy/327-wspolpraca-z-serwisem-niebezpiecznik-pl.html" title="Partner youthcoders"> niebezpiecznik.pl </a></li>
</ul>
<!-- #partners_yc -->

<ul id="about_us_yc">
	<li class="head">
		<a href="/">YouthCoders.net</a></li>

	<li id="about_yc">
		<p>
			Copyright &copy; 2009-2011 by YouthCoders.net<br />
			All rights reserved</p>
	</li><!-- #about_yc -->
	<li id="site_yc">
		<ul>
			<li>
				<a href="/">home</a></li>
			<li>
				<a href="/forum">forum</a></li>
			<li>
				<a href="/blog.html">blog</a></li>
			<li>
				<a href="/info.html">o nas</a></li>
			<li>
				<a href="/kontakt.html">kontakt</a></li>
		</ul>
	</li>
<!-- #site_yc --></ul>
<!-- #about_us_yc -->		
</div>
</div>
<div class="clear"></div>
</div><!--footerwrap-->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
	var pageTracker = _gat._getTracker("UA-13152651-1");
	pageTracker._setDomainName(".youthcoders.net");
	pageTracker._trackPageview();
} catch(err) {}</script></body>
</html>
