image="plugins/content/showhidecontent/images/arrow-1-32x32-orange-down.png" 
changeimage="plugins/content/showhidecontent/images/arrow-1-32x32-orange-up.png" 
cssfile="plugins/content/showhidecontent/css/32x32.css"
classsuffix="x32-"
