image="plugins/content/showhidecontent/images/arrow-1-16x16-blue-down.png" 
changeimage="plugins/content/showhidecontent/images/arrow-1-16x16-blue-up.png" 
cssfile="plugins/content/showhidecontent/css/16x16.css"
classsuffix="x16-"
